In [466]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

data = pd.read_csv('movie_bd_v5.csv')

answers = {}

# расчет прибыли по фильму и добавление колонки с прибылью в таблицу.
budget = data.budget
revenue = data.revenue
profit = revenue - budget
data['profit'] = profit


# с колонкой дата в том виде, что есть, работать не удобно
# исходя из вопросов, я решил добавить две новых колонки
# одна с годом и другая с месяцем

def year(release_date):
    year = release_date[-4:]
    return int(year)

def month(date):
    slash = date.find('/')
    month = date[ : slash]
    return int(month)

month = data.release_date.apply(month)
year = data.release_date.apply(year)

data['month'] = month
data['year'] = year

data['film_name_len'] = data.original_title.apply(len)

In [421]:
    # Вопрос 1
data[data.budget == data.budget.max()]

answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

    #Вопрос 2
data[data.runtime == data.runtime.max()]

answers['2'] = '1157. Gods and Generals (tt0279111)'

    #Вопрос 3
data[data.runtime == data.runtime.min()]

answers['3'] = '768. Winnie the Pooh (tt1449283)'

    #Вопрос 4
print('%0.0f' % data.runtime.mean())

answers['4'] = '110'

    #Вопрос 5
print('%0.0f' % data.runtime.median())

answers['5'] = '107'

110
107

In [422]:
    #Вопрос 6
data[data.profit == data.profit.max()]

answers['6'] = '239. Avatar (tt0499549)'

    #Вопрос 7
data[data.profit == data.profit.min()]

answers['7'] = '1245. The Lone Ranger (tt1210819)'

    #Вопрос 8
len(data.query('profit > 0'))

answers['8'] = '1478'

    #Вопрос 9
year2008 = data[data.year == 2008]
year2008[year2008.profit == year2008.profit.max()]

answers['9'] = '599. The Dark Knight (tt0468569)'

    #Вопрос 10
films12_14 = data.query('2011 < year < 2015')
films12_14[films12_14.profit == films12_14.profit.min()]

answers['10'] = '1245. The Lone Ranger (tt1210819)'

In [467]:
    # Вопрос 11
        #Вариант 1
    
data_genre = data.genres.str.split('|')

cnt = Counter()
for i in data_genre.index:
    for genre in data_genre[i]:
        cnt[genre] += 1
        
cnt.most_common()

answers['11'] = 'Drama'

        #Вариант 2
    
data_genre2 = data.genres.str.cat(sep = '|')
data_genre2 = pd.Series(data_genre2.split('|'))
data_genre2.value_counts()

    # Вопрос 12

data_profit = data.query('profit > 0').genres.str.split('|')

cnt2 = Counter()
for i in data_profit.index:
    for genre in data_profit[i]:
        cnt2[genre] += 1
        
cnt2.most_common()

answers['12'] = 'Drama'

    # Вопрос 13

data_dir = data.director.str.cat(sep='|')
data_dir = pd.Series(data_dir.split('|'))
data_dir = data_dir.value_counts()

for i in data_dir.index: 
    data_dir[i] = data['revenue'][data['director'].map(lambda x: True if i in x else False)].sum()
    
data_dir.sort_values(ascending = False)

answers['13'] = 'Peter Jackson'

    # Вопрос 14

data_action = data[data.genres.str.contains('Action', na = False)]

data_dir = data_action.director.str.cat(sep='|')
data_dir = pd.Series(data_dir.split('|'))
data_dir.value_counts()

answers['14'] = 'Robert Rodriguez'

    # Вопрос 15

data_2012 = data.query('year == 2012')

data_cast = data_2012.cast.str.cat(sep = '|')
data_cast = pd.Series(data_cast.split('|'))
data_cast = data_cast.value_counts()

for i in data_cast.index:
    data_cast[i] = data['revenue'][data['cast'].map(lambda x: True if i in x else False)].sum()
    
data_cast = data_cast.sort_values(ascending = False)
a = max(data_cast['Tom Hardy'], data_cast['Chris Hemsworth'], data_cast['Emma Stone'], data_cast['Nicolas Cage'], data_cast['Jim Sturgess'])
data_cast[data_cast == a]

answers['15'] = 'Chris Hemsworth'

    # Вопрос 16

data_budget = data.query('budget > budget.mean()')

data_budget = data_budget.cast.str.cat(sep = '|')
data_budget = pd.Series(data_budget.split('|'))
data_budget.value_counts()

answers['16'] = 'Matt Damon'

    # Вопрос 17
    
data_cage = data[data.cast.str.contains('Nicolas Cage', na = False)]

data_cage = data_cage.genres.str.cat(sep = '|')
data_cage = pd.Series(data_cage.split('|'))
data_cage.value_counts(ascending = False)

answers['17'] = 'Action'

IndentationError: expected an indented block (<ipython-input-467-a6641c4b8f74>, line 8)

In [428]:
    # Вопрос 18

data_paramount = data[data.production_companies.str.contains('Paramount Pictures', na = False)]
data_paramount[data_paramount.profit == data_paramount.profit.min()]

answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

    # Вопрос 19

data.groupby(['year'])['revenue'].sum().sort_values(ascending = False)

answers['19'] = '2015'

    # Вопрос 20

data_warner = data[data.production_companies.str.contains('Warner Bros', na = False)]
data_warner.groupby(['year'])['profit'].sum().sort_values(ascending = False)

answers['20'] = '2014'

    # Вопрос 21

data.month.value_counts(ascending = False)

answers['21'] = 'Сентябрь'

    # Вопрос 22
    
data_summer = data[data['month'].isin(['6', '7', '8'])]
len(data_summer)

answers['22'] = '450'

In [468]:
    # Вопрос 23

data_winter = data[data['month'].isin(['12', '1', '2'])]

data_winter = data_winter.director.str.cat(sep = '|')
data_winter = pd.Series(data_winter.split('|'))
data_winter.value_counts(ascending = False)

answers['23'] = 'Peter Jackson'

    # Вопрос 24

data['film_name_len'] = data.original_title.apply(len)

data_companies = data.production_companies.str.cat(sep = '|')
data_companies = pd.Series(data_companies.split('|'))
data_companies = data_companies.value_counts()

for i in data_companies.index:
    data_companies[i] = data['film_name_len'][data['production_companies'].map(lambda x: True if i in x else False)].mean()

data_companies.sort_values(ascending = False)

answers['24'] = 'Four By Two Productions'

    # Вопрос 25
    
#в этом вопросе каждый раз обновлял значение data
# чтобы дополнительное слово не прибавлялось при каждом перезапуске
data = pd.read_csv('movie_bd_v5.csv')

# считаем количество пробелов
data['overview_len'] = data.overview.str.count(' ')
#корректируем количество, добавляя одно слово
data.overview_len = data.overview_len.apply(lambda x: x + 1)

data_companies2 = data.production_companies.str.cat(sep = '|')
data_companies2 = pd.Series(data_companies2.split('|'))
data_companies2 = data_companies2.value_counts()

for i in data_companies2.index:
    data_companies2[i] = data['overview_len'][data['production_companies'].map(lambda x: True if i in x else False)].mean()

data_companies2.sort_values(ascending = False)

answers['25'] = 'Midnight Picture Show'

    # Вопрос 26

data_rating = data[['vote_average', 'original_title', 'imdb_id']].sort_values(by = 'vote_average',ascending= False)

a = int(1899 * 0.01)
data_rating[:a]

answers['26'] = '599. The Dark Knight (tt0468569), 9. Inside out (tt2096673), 1191. 12 Years a Slave (tt2024544)'

    # Вопрос 27

data_actors_list = data.cast.str.split('|')

cnt_pairs = Counter()

for i in data.index:
    actor_pairs = list(combinations(data_actors_list[i], 2))
    for pairs in actor_pairs:
        cnt_pairs[pairs] += 1

cnt_pairs.most_common(3)

answers['27'] = 'Daniel Radcliffe, Rupert Grint'

IndentationError: expected an indented block (<ipython-input-468-f1f0f2d89dbc>, line 20)

In [465]:
data.sample(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,year,film_name_len
791,tt1265990,16000000,40492759,The Roommate,Minka Kelly|Leighton Meester|Cam Gigandet|Aly ...,Christian E. Christiansen,"2,000 colleges. 8 million roommates. Which one...","When Sara (Minka Kelly), a young design studen...",91,Thriller|Drama|Horror,Vertigo Entertainment|Screen Gems,2/4/2011,5.5,2011,24492759,2,2011,12
729,tt0945513,32000000,147332697,Source Code,Jake Gyllenhaal|Michelle Monaghan|Vera Farmiga...,Duncan Jones,Make Every Second Count,Decorated soldier Captain Colter Stevens wakes...,93,Thriller|Science Fiction|Mystery,The Mark Gordon Company|Vendome Pictures,3/30/2011,7.0,2011,115332697,3,2011,11