In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
#data.sample(5)

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [18]:
answers = {} # создадим словарь для ответов

# рассчитываем профит по каждому фильму и добавляем его в датафрейм
# в виде отдельного столбца

budget = data.budget
revenue = data.revenue
profit = revenue - budget
data['profit'] = profit


# с колонкой даты выхода в том виде, что есть, работать не удобно
# исходя из вопросов, я решил добавить две новых колонки
# одна с годом и другая с месяцем в виде числа

def year(release_date):
    year = release_date[-4:]
    return int(year)

def month(date):
    slash = date.find('/')
    month = date[ : slash]
    return int(month)

month = data.release_date.apply(month)
year = data.release_date.apply(year)

data['month'] = month
data['year'] = year

# преобразуем строку в исходной таблице в список Series

def string_to_list(df):

    data = df.str.cat(sep='|')
    data = pd.Series(data.split('|'))
    data = data.value_counts()
    
    return data

#дополнительная колонка с длиной названий фильмов

data['film_name_len'] = data.original_title.apply(len)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [10]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [73]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [71]:
data[data.runtime == data.runtime.max()]

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [69]:
data[data.runtime == data.runtime.min()]

# 4. Какова средняя длительность фильмов?

In [64]:
answers['4'] = '110'

In [66]:
print('%0.0f' % data.runtime.mean())

# 5. Каково медианное значение длительности фильмов?

In [17]:
answers['5'] = '107'

In [67]:
print('%0.0f' % data.runtime.median())

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '239. Avatar (tt0499549)'

In [62]:
data[data.profit == data.profit.max()]

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

In [60]:
data[data.profit == data.profit.min()]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1478'

In [58]:
len(data.query('profit > 0'))

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
answers['9'] = '599. The Dark Knight (tt0468569)'

In [56]:
year2008 = data[data.year == 2008]
year2008[year2008.profit == year2008.profit.max()]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [22]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

In [54]:
films12_14 = data.query('2011 < year < 2015')
films12_14[films12_14.profit == films12_14.profit.min()]

# 11. Какого жанра фильмов больше всего?

In [23]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

In [52]:
data_genre = data.genres.str.split('|')

cnt = Counter()
for i in data_genre.index:
    for genre in data_genre[i]:
        cnt[genre] += 1
cnt.most_common()

ВАРИАНТ 2

In [50]:
df = data.genres
data_genre2 = string_to_list(df)

data_genre2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [24]:
answers['12'] = 'Drama'

In [48]:
data_profit = data.query('profit > 0').genres.str.split('|')

cnt2 = Counter()
for i in data_profit.index:
    for genre in data_profit[i]:
        cnt2[genre] += 1
        
cnt2.most_common()

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [25]:
answers['13'] = 'Peter Jackson'

In [ ]:
# Внимание, процесс долгий!
#моё решение, ввиду того, что из-за недостатка знаний 
# (я программист с опытом всего 1,5 месяца)
#не смог придумать как написать нормальный фильтр:

#df = data.director
#data_dir = string_to_list(df)

#for i in data_dir.index:
#    for a in data.index:
#        if i in data.director[a]:
#            data_dir[i] = data_dir[i] + data.revenue[a]
#data_dir.sort_values(ascending = False)

In [46]:
#после долгих дискуссий, наводящих комментариев, Екатерина Попова сдалась, ею был предложен фильтр с лямбда:

df = data.director
data_dir = string_to_list(df)

for i in data_dir.index: 
    data_dir[i] = data['revenue'][data['director'].map(lambda x: True if i in x else False)].sum()
    
data_dir.sort_values(ascending = False)

#спасибо огромное! теперь, наверное, сам так смогу.

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [26]:
answers['14'] = 'Robert Rodriguez'

In [44]:
# оставляем только те строки, где в жанрах есть Action
data_action = data[data.genres.str.contains('Action', na = False)]

# считаем сколько раз каждый режиссер в этой таблице присуствтует

df = data_action.director
data_dir = string_to_list(df)

#data_dir

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [27]:
answers['15'] = 'Chris Hemsworth'

In [42]:
# фильтруем таблицу по 2012 году
data_2012 = data.query('year == 2012')

# формируем Series с индексами - именами актеров
df = data_2012.cast
data_cast = string_to_list(df)

# считаем касовые сборы (привет Екатерине Поповой!) в этот раз обошелся без вложенных циклов :)
for i in data_cast.index:
    data_cast[i] = data['revenue'][data['cast'].map(lambda x: True if i in x else False)].sum()

# так как упомянутые актеры находятся где-то далеко в глубине списка, приходится искать
data_cast = data_cast.sort_values(ascending = False)
a = max(data_cast['Tom Hardy'], data_cast['Chris Hemsworth'], data_cast['Emma Stone'],
        data_cast['Nicolas Cage'], data_cast['Jim Sturgess'])

data_cast[data_cast == a]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [28]:
answers['16'] = 'Matt Damon'

In [40]:
data_budget = data.query('budget > budget.mean()')

df = data_budget.cast
data_budget = string_to_list(df)

data_budget

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [29]:
answers['17'] = 'Action'

In [38]:
data_cage = data[data.cast.str.contains('Nicolas Cage', na = False)]

df = data_cage.genres
data_cage = string_to_list(df)

data_cage

# 18. Самый убыточный фильм от Paramount Pictures

In [30]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

In [36]:
data_paramount = data[data.production_companies.str.contains('Paramount Pictures', na = False)]

data_paramount[data_paramount.profit == data_paramount.profit.min()]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [31]:
answers['19'] = '2015'

In [34]:
data.groupby(['year'])['revenue'].sum().sort_values(ascending = False)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [32]:
answers['20'] = '2014'

In [32]:
data_warner = data[data.production_companies.str.contains('Warner Bros', na = False)]

data_warner.groupby(['year'])['profit'].sum().sort_values(ascending = False)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [33]:
answers['21'] = 'Сентябрь'

In [30]:
data.month.value_counts(ascending = False)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [36]:
answers['22'] = '450'

In [28]:
data_summer = data[data['month'].isin(['6', '7', '8'])]

len(data_summer)

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
answers['23'] = 'Peter Jackson'

In [26]:
data_winter = data[data['month'].isin(['12', '1', '2'])]

df = data_winter.director
data_dir = string_to_list(df)

data_dir

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
answers['24'] = 'Four By Two Productions'

In [24]:
df = data.production_companies
data_companies = string_to_list(df)

for i in data_companies.index:
    data_companies[i] = data['film_name_len'][data['production_companies'].map(lambda x: True if i in x else False)].mean()

data_companies.sort_values(ascending = False)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
answers['25'] = 'Midnight Picture Show'

In [22]:
data_overview = data

# считаем количество пробелов
data_overview['overview_len'] = data_overview.overview.str.count(' ')

#корректируем количество, добавляя одно слово (пробелов на 1 меньше чем слов)
data_overview.overview_len = data_overview.overview_len.apply(lambda x: x + 1)

df = data.production_companies
data_companies2 = string_to_list(df)

for i in data_companies2.index:
    data_companies2[i] = data_overview['overview_len'][data['production_companies'].map(lambda x: True if i in x else False)].mean()

data_companies2.sort_values(ascending = False)

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [0]:
answers['26'] = '599. The Dark Knight (tt0468569), 9. Inside out (tt2096673), 1191. 12 Years a Slave (tt2024544)'

In [11]:
#сортировка по рейтингу
data_rating = data[['vote_average', 'original_title', 'imdb_id']].sort_values(by = 'vote_average',ascending= False)

#считаем сколько строк входят в один процент
a = int(1899 * 0.01)

#вывод требуемого 1%
data_rating[:a-1]

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [5]:
data_actors_list = data.cast.str.split('|')

cnt_pairs = Counter()

# создаем попарные комбинации и сразу же считаем уникальные

for i in data.index:
    actor_pairs = list(combinations(data_actors_list[i], 2))
    for pairs in actor_pairs:
        cnt_pairs[pairs] += 1

cnt_pairs.most_common(3)

# Submission

In [38]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{}

In [35]:
# и убедиться что ни чего не пропустил)
len(answers)

21